body{
    background-color: rgb(1, 80, 80);
    color: white;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: black;
}

nav ul{
    display: flex;
    gap: 34px;
    align-items: center;
}